
.container-card{
    display: flex;
    flex-direction: column;    
    width: auto;
    height: auto;
    border-radius: 4px;
    border: 2px solid #F5F5F5;
    background-color: #F5F5F5;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.14);
}

.div-titulo{
    height: auto;
    width: 100%;    
    display: flex;  
    align-items: center;
    justify-content: center;    
    padding: 8px;
}

.div-imagem{
    height: 194px;
    width: 100%;    
}

.div-descricao{
    height: 40px;
    width: 340px;
    margin: 16px; 
}

.texto-descricao{  
    font-weight: normal; 
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    letter-spacing: 0.25px;
    line-height: 20px;    
}

.div-botao{
    height: auto;
    width: 100%;
    padding-left: 8px;
    padding-bottom: 8px;
}

.botao{
    height: 36px;
    width: 91px;
    background-color: #ED5D3C;
    color: white;
    border: 0px;
    border-radius: 4px;
    letter-spacing: 1.25px;
}

