
.tabBar{
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.div-botao{
    height: 44px;
    width: 100%;
    padding-left: 8px;
    padding-bottom: 8px;
}

.botao-tabBar{
    height: 30px;   
    background-color: white;
    color:  #ED5D3C;
    border: 2px solid #ED5D3C;   
    border-radius: 4px;
    letter-spacing: 1.25px;
    flex-grow: 1;
    font-weight: bold;
}

.botao-tabBar:hover{        
    background-color: rgba(237, 93, 60, 0.15);   
    cursor: pointer;
}

.botao-tabBar:visited{        
    background-color: #ED5D3C;   
    color: white;
}
