.container-titulo-secundario{
    width: 100%;
    height: 24px;
}

.texto-secundario{    
    font-weight: bold;    
    color: #ED5D3C;  
    font-size: 20px;  
    letter-spacing: 0.15px;
    line-height: 24px;
}