.container-item-cardapio{
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 1px solid rgba(151, 151, 151, 0.53);    
    border-radius: 16px;    
    width: 100%;
}

.item-cardapio{
    display: flex;
    flex-direction: column;        
    gap: 16px;
    color: rgba(95, 99, 104, 1);
    padding: 16px;
    width: 100%;
}

.nome-item{
    font-weight: bold;            
}

.preco-item{    
    font-weight: bold;    
}