

.itemMenu{       
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 10px;
    padding-bottom: 10px;  
    
    a{
        font-family: "Roboto";
        color: #000000;
        font-size: 16px;
        line-height: 16px; 
        font-style: normal;
        font-weight: bold;
        letter-spacing: 1.25px;
        text-decoration: none;
    }
    
    a:hover {
        color: #ED5D3C;
    }
}

