.page{
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.outlet{   
  margin-left: 120px;
  margin-right: 120px;
  height: calc(100% - 80px); /* Leva em consideração a altura do cabeçalho e do rodapé */
  padding-bottom: 48px; /* Leva em consideração a altura do rodapé */
}

.rodape {
  background-color: #00AF66;
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 48px; /* Define a altura do rodapé */
  display: flex;
  flex-direction: column;
  padding: 16px 0px 16px 0px;
  gap: 8px;
  color: white;
  line-height: 16px; 
  font-style: normal;
  letter-spacing: 1.25px;  
  font-size: 14px;
  font-family: "Roboto";
  align-items: center;
  justify-items: center;
  
  .redes-sociais{
    color: white;
    text-decoration: none; 
    
    img{
      width: 24px;
      height: 24px;            
    }

    .icones{
      display: flex;
      flex-direction: row;
      gap: 16px;
    }
  }
}
