.container-tabBar{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;    
}

.container-itens-cardapio{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;      
}